<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
    <!--
    Series Structure:
        series: [{
        name: 'data 1'
        data: [[x1, y1], [x2, y2], ..., [xn, yn]] or [x1, x2, ..., xn],
        linewidth: 5,

        },
        {
        name: 'data 2',
        data: [[x1, y1], [x2, y2], ..., [xn, yn]] or [x1, x2, ..., xn],
        linewidth: 5,
        }]

    Data Properties params:
        1. Input from: Random, ajax URL [[x1, y1], [x2, y2], ..., [xn, yn]], File Input
        2. Get Input button
        3. Label display: Total data received(data 1, data 2, ...)
        4. Linewidth for: Option(data 1, data 2, ...)
        5. Linewidth: int(5)
        6. Set Linewidth button

    -->
    <div class="container-fluid" ng-app="data_property_control_app" ng-controller="data_property_controller">
        <div class="row data_properties_container_header">
            <div class="col-sm-6 col-lg-6 col-md-6">
                <h2>Data Property Control Tab</h2>
            </div>
        </div>
        <div class="row data_properties_inpfrom">
            <div class="col-md-3 col-sm-3 col-lg-3"><label>Input From</label></div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <select class="data_property_inpFrom_input" ng-model="selected_inpFrom_option">
                        <option ng-repeat="(key, value) in inpFrom_options" value="{{key}}" selected="selected" ng-if="key == 0">{{value}}</option>
                </select>

            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <label ng-show="selected_inpFrom_option == 0">Data length & Total Data Series: </label>
                <label ng-show="selected_inpFrom_option == 1">JSON URL: </label>
                <label ng-show="selected_inpFrom_option == 2">File: </label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <input type="number" class="data_property_random_length_input" ng-show="selected_inpFrom_option == 0" ng-model="random_data_length">
                <input type="number" class="data_property_random_amount_input" ng-show="selected_inpFrom_option == 0" ng-model="random_data_series_total">
                <input type="text" class="data_property_url_input" ng-show="selected_inpFrom_option == 1" ng-model="json_url">
                <input type="file" class="data_property_file_input" ng-show="selected_inpFrom_option == 2">
            </div>
        </div>
        <div class="row data_properties_setTo">
            <div class="col-sm-3 col-md-3 col-lg-3"><label>Apply to Graph Number: </label></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <select class="data_properties_setTo_input" ng-model="selected_graph">
                    <option ng-repeat="(key, value) in available_graphs" value="{{key}}">{{ key }}</option>
                </select>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"><label>Total data received: </label></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
               <label id="data_property_total_received">{{available_graph_data[selected_graph].length}}</label>
            </div>
        </div>
        <div class="row data_properties_buttons">
            <div class="col-md-6 col-sm-6 col-lg-6"><button class="btn btn-success" ng-click="get_data_fn()">Get data</button></div>
            <div class="col-md-6 col-sm-6 col-lg-6"><button class="btn btn-success" ng-click="set_data_fn()">Apply Changes</button></div>
        </div>
    </div>

    <div class="container-fluid" id="sample_graph_container"></div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    var myApp = angular.module("data_property_control_app", []);
    myApp.controller("data_property_controller", function($scope, $http){
        $scope.inpFrom_options = ["Random", "JSON URL", "File"];
        $scope.selected_inpFrom_option = 0;

        $scope.available_graphs = ["sample_graph_container"];
        $scope.available_graph_objects = [];
        $scope.available_graph_data = [];
        $scope.selected_graph = 0;

        $scope.random_data_length = 0;
        $scope.random_data_series_total = 0;
        $scope.json_url="";
        $scope.file_url="";
        $scope.get_data_fn = function () {
            if($scope.selected_graph >=0 && $scope.selected_graph < $scope.available_graphs.length){
                if($scope.selected_inpFrom_option == 0 && $scope.random_data_length > 0 && $scope.random_data_series_total > 0){//Create Random data of length n
                    total_data = [];
                    for(j=0; j < $scope.random_data_series_total; j++){
                        random_data = [];
                        for(i=0; i < $scope.random_data_length; i++){
                            random_data.push(Math.random());
                        }
                        total_data.push({
                            "data": random_data,
                            "name": "Series"+j
                        });
                    }
                    $scope.available_graph_data[$scope.selected_graph] = total_data;
                }
                else if($scope.selected_inpFrom_option == 1 && $scope.json_url.length > 0){//Get data from JSON call
                    $http({
                        method : "GET",
                        url : $scope.json_url
                    }).then(function mySuccess(response) {
                        $scope.available_graph_data[$scope.selected_graph] = response.data;
                    }, function myError(response) {
                        console.log(response.statusText)
                    });
                }
            }
            else{
                console.log("Select a Graph First");
            }

        }
        $scope.set_data_fn = function () {
            if($scope.selected_graph >= 0 && $scope.selected_graph < $scope.available_graphs.length && $scope.available_graph_data[$scope.selected_graph].length > 0){
                if($scope.available_graph_objects[$scope.selected_graph] != null){
                    $scope.available_graph_objects[$scope.selected_graph].destroy();
                }

                $scope.available_graph_objects[$scope.selected_graph] = Highcharts.chart($("#"+$scope.available_graphs[$scope.selected_graph])[0], {  //Create new Graph inside the element
                    chart: {  // Set graph attributes
                        type: 'bar'
                    },
                    title: {  // set graph title
                        text: 'Graph Number: ' + $scope.selected_graph,
                    },
                    series: $scope.available_graph_data[$scope.selected_graph]
                });
            }
        }
        for(i=0; i < $scope.available_graphs.length; i++){
            $scope.available_graph_data.push([{"data": [10, 20, 30, 40, 50], "name": "Series 1"}, {"data": [50, 40, 30, 20, 10], "name": "Series 2"}])
            $scope.available_graph_objects.push(Highcharts.chart($("#"+$scope.available_graphs[i])[0], {  //Create new Graph inside the element
                chart: {  // Set graph attributes
                    type: "bar"
                },
                title: {  // set graph title
                    text: "Graph Title",
                },
                subtitle: {
                    text: "Graph Subtitle"
                },
                xAxis: {
                    title: {
                        text: "X axis Title"
                    },
                    tickInterval: 1,
                    gridLineWidth: 1
                },
                yAxis: {
                    title: {
                        text: "Y axis Title"
                    },
                    tickInterval: 1,
                    gridLineWidth: 1
                },
                series: $scope.available_graph_data[i]
            }));
        }
    });
</script>
</body>
</html>